@charset "UTF-8";
*{box-sizing: border-box;}
body{
    margin: 5px 20px;
}h1, h2, h3, h4, h5, h6{
    font-family:'Times New Roman', Times, serif ;
}p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
*{
    margin: 0; padding: 0;
}
p>a::after{
    content: ' ⧉';
}
nav>a{ 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-style: italic; color: rgb(255, 255, 255);
    text-decoration: none; margin-right: 20px;
}a::after{
    content: ' ⊡';
}nav>a:hover{
    color: rgb(0, 54, 0);
    background-color: rgb(35, 248, 99);
}
/*acima codigo base do css ∳ *